<div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Iniciar Sesión</h3>
    <form action="login.php" method="post">
        <div class="inputBox"> <input id="uname" type="text" name="Username" placeholder="Nombre de Usuario"> <input id="pass" type="password" name="Password" placeholder="Contraseña"> </div> <input type="submit" name="" value="Iniciar sesión">
    </form> 
    <a href="#">Crear nuevo usuario<br> </a>
    <div class="text-center">
        <p style="color: #59238F;">Registro</p>
    </div>
    
</div>