 #logoAP {
    width: 300px;
 }
 


 .rSociales {
   position: relative;
   width: 70px;
   float: right;
}

#banner {
   position: absolute;
   z-index: -1;
   width: 80%;
   height: 80%;
   margin-left: 11%;
   margin-top: 5%;
   border-radius: 13%;
   
}

@media (max-width: 575px) {
.rSociales {
    width: 50px;
   float: right;}
#banner {
   width: 50%;
   height:30%;
   margin-left: 22%;
}

}

.btn {
   border-width: medium;
}

