
<div>
     <img id="logoAP" src="../../../assets/APLogo.png" alt="Logo Arg Programa">

     <a  href="https://www.facebook.com/gabriel.piumettoarato"> <img id="facebook" class="rSociales img-fluid" src="../../../assets/facebook.png"> </a>
    
     <a href="https://github.com/Gabriel-Piumetto/PortfolioProyectoIntegrador"> <img id="github" class="rSociales img-fluid" src="../../../assets/github.png"> </a>

     <a href="/login"><button type="button" class="btn btn-outline-light" *ngIf="!isLogged">INICIAR SESIÓN</button> </a>
     <button type="button" class="btn btn-outline-light"(click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
</div>     
     


<img class="img-fluid" id="banner" src="../../../assets/opossum banner.jpg" alt="banner">
