<div class="row">

 <h1>Educación</h1>
 <div class="col-lg-2">
  <button class="btn btn-primary" type="button" routerLink="/nuevaedu" *ngIf="isLogged">
      Agregar Formación Académica
   
  </button>
</div>
 
  <div class="col-lg-1"></div> 
  
   <div class="col-lg-11">
   <table class="table">
     <tbody>
        <tr *ngFor="let Educacion of educacion">
           <td>{{Educacion.nombreE}}</td>
           <td>{{Educacion.descripcionE}}</td>
           <td><button class="btn btn-primary" type="button" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged"><i class="bi bi-pencil-square"></i>EDITAR</button></td>
           <td><button class="btn btn-primary" type="button" *ngIf="isLogged" (click)="delete(Educacion.id)"><i class="bi bi-eraser"></i>BORRAR</button></td>
        </tr>
     </tbody>
  </table>
  </div>
 
 
 </div>