    <div class="row">
    
      <div id="contenedor">
      
        <div>
         <button class="btn btn-primary" id="boton" type="button" routerLink="/editacercade/{{persona.id}}" *ngIf="isLogged">
             Editar Persona
          </button>
       </div>

       

       <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2">
         <img id="fotoperfil" src="{{persona.img}}"  alt="Foto de perfil" class="img-fluid">
       </div>
       
       
        
       <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
         
        <h1 id="nombre" >{{persona.nombre}} {{persona.apellido}}</h1>
        
        <span>
           <h2 id="acerca">Acerca de mí</h2>
           <p id="descrip">{{persona.descripcion}}</p>  
         </span>
       </div>
      
      </div> 

    
    </div>