.row {
    position: fixed;
    padding: 20px;
    margin-top: 21%;
}


@media (max-width: 575px) {
    #fotoperfil {
     float: right;
     border-left:-3%;   
     border-radius:100%;
     width: 40%;
     height:auto
    }

    #nombre{
        float: right;
        margin-left: 61%;
    }
    #acerca{
        float: right;
        margin-left: 61%;
    }
    #descrip{
        float: right;
        margin-left: 61%;
    }
    #boton{
        float: right;
        margin-right: 10%;
    }
    
    
}

@media (min-width: 576px){

 #fotoperfil {
 position: absolute;
 margin-top: 1%;
 border-radius:100%;
 width: 45%;
 z-index: -1;}
}

#nombre{
    margin-left: 58%;
}
#acerca{
    margin-left: 58%;
}
#descrip{
    margin-left: 58%;
}


*{
    color: white;
}