.row {
    position: fixed;
    padding: 20px;
    margin-top: 21%;
}


@media (max-width: 575px) {
    .row{
        position: relative;
    }
    #contenedor{
      float: right;
      top: 78%;
      position: fixed;
    }
    #fotoperfil {
     position: fixed;
     float: right;
     right: 1%;
     margin-top: -41%;   
     border-radius:100%;
     width: 40%;
     height:auto;
     z-index: -1;
    }

    #nombre{
        
        margin-left: 61%;
    }
    #acerca{
        
        margin-left: 61%;
    }
    #descrip{
        
        margin-left: 61%;
    }
    #boton{
        
        float: right;
        margin-right: 1%;
    }
    
    
}

@media (min-width: 576px){

p{
    font-weight: bold;
}

    #boton{
    margin-left: 10%;
}    

 
    
 #fotoperfil {
 position: fixed;
 margin-top: -2%;
 border-radius:100%;
 width: 17%;
 z-index: -1;}


#nombre{
    margin-left: 20%;
}
#acerca{
    margin-left: 20%;
}
#descrip{
    margin-left: 20%;
   
}

}

*{
    color: white;
}