    <div class="row">

       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
         <img id="fotoperfil" src="../../../assets/fotoperfil.jpg" alt="Foto de perfil" class="img-fluid">
       </div>
       
       
        
       <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
         
        <h1 id="nombre" >{{persona.nombre}} {{persona.apellido}}</h1>
        
        <span>
           <h2>Acerca de mí</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ea iure nisi sed minus dolorem. 
            Dignissimos nesciunt architecto soluta, assumenda vel maxime dolore eaque mollitia 
            voluptates eius sapiente accusantium eligendi.</p>  
         </span>
       </div>

    
    </div>