.row {
    position: fixed;
    padding: 20px;
    margin-top: 21%;
}


@media (max-width: 575px) {
    #fotoperfil {
     border-radius: 20%;
     width: 60%;
     height:auto
    }
    
}

@media (min-width: 576px){

 #fotoperfil {
 position: absolute;
 border-radius:100%;
 width: 23%;
 z-index: -1;}
}

#nombre{
    margin-left: 11%;
}
#acerca{
    margin-left: 11%;
}
#descrip{
    margin-left: 11%;
}


*{
    color: white;
}